extends ../../templates/base.pug
block config
  - const baseOpenGraphImage1200x1200  = require('../../../../assets/img/dist/opengraph/opengraph-1200x1200.jpg');
  - const baseOpenGraphImage1200x640  = require('../../../../assets/img/dist/opengraph/opengraph-1200x640.png');
  - const linkToHumansTXT     = require('../../../../humans.txt');
  - const video = require('../../../../assets/media/video.mov');
  - const music = require('../../../../assets/media/music.mp3');
  - const batman  = require('../../../../assets/img/dist/logos/batman.jpeg');
block header
  header
    h1 Mi primera página web | Módulo 9 - Multimedia
block main
  h1 Video
  //- controls,
  //- autoplay,
  video#video(
          src=video,
          width="100%",
          poster=batman)
  button#play Play
  button#pause Pause

  //- autoplay
  audio(src=music, controls)
