extends ../../templates/base.pug
block config
  - const baseOpenGraphImage1200x1200  = require('../../../../assets/img/dist/opengraph/opengraph-1200x1200.jpg');
  - const baseOpenGraphImage1200x640  = require('../../../../assets/img/dist/opengraph/opengraph-1200x640.png');
  - const linkToHumansTXT     = require('../../../../humans.txt');
block header
  header
    h1 Mi primera página web | Módulo 7 - tablas
block main

  table()
    caption Horario de clases
    colgroup
      //- col
      //- col
      //- col
      col(span=4)
      col(style="background-color:#ffff00;")
    thead
      tr
        th lunes
        th martes
        th miercoles
        th jueves
        th viernes
    tbody
      tr
        td(rowspan=2) html
        td php
        td css
        td(rowspan=2) js
        td dart
      tr

        td go
        td big data

        td ux
      tr
      tr
        td(colspan=5) Recreo
      tr
        td java
        td sql
        td pwa
        td angular
        td algoritmos
    tfoot
      tr(style="background-color:#ffff00;")
        td 6 créditos
        td 4 créditos
        td 2 créditos
        td 6 créditos
        td 4 créditos

