extends ../../templates/base.pug
block config
  - const baseOpenGraphImage1200x1200  = require('../../../../assets/img/dist/opengraph/opengraph-1200x1200.jpg');
  - const baseOpenGraphImage1200x640  = require('../../../../assets/img/dist/opengraph/opengraph-1200x640.png');
  - const linkToHumansTXT     = require('../../../../humans.txt');
block header
  header
    h1 Mi primera página web | Módulo 10 - Contenido interactivo
block main
  dialog#modal
    h2 Curso HTML 5 desde cero
    p Precio: $100
    p Profesor: Álvaro Feliper
    button#close Cerrar
  button#open Abrir
  details
    sumary html
    p Lenguaje de marcado de hipertexto
    p Se creo en 1989


  h2 Contenido embebido &lt;uso de iframes&gt;
    h3 video de youtube
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VnHSLQhaSlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    h3 Mapa de google maps
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14885.872178538168!2d-86.856439!3d21.133764000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x137a2cf134e2b6be!2sROUND+12!5e0!3m2!1ses!2smx!4v1550099963567" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
