extends ../../templates/base.pug
block config
  - const baseOpenGraphImage1200x1200  = require('../../../../assets/img/dist/opengraph/opengraph-1200x1200.jpg');
  - const baseOpenGraphImage1200x640  = require('../../../../assets/img/dist/opengraph/opengraph-1200x640.png');
  - const linkToHumansTXT     = require('../../../../humans.txt');
block header
  header
    h1 Mi primera página web | Módulo 4 - agrupación de contenido
block main
  div div: div - elemento de bloque
  p p : parrafo - elemento de bloque
  p p : parrafo - elemento de bloque #[span span: span - elemento en linea] #[strong strong: elemento importante en el texto - elemento en linea] #[em em: elemento con enfasis dentro de un texto - elemento en linea]
  span elemento en linea

  p Nota: Los elementos de linea deben estar dentro de elementos de bloque


  p
    small small
    strong strong
    em em
    cite Cite
    dfn Definition
    code  Code
    data  [data: 'data']

  p
    br
    q cita
    abbr(title="World Health Organization") WHO
    del Elemento eliminado
    | Romper #[wbr] palabras
    span span
    i Italica
    b Negritas
    u Subrayado

  p
    sup super indice
    sub sub indice
    time  10:30:00
    mark mark
    a(href="#") ancla

  hr
  p
    //- Ruta absoluta con https
    a(href="//ed.team" target="_blank") Educación con honestidad
  p
    //- Ruta relativa a la carpeta
    //- No funciona el ./subcarpeta con la etiqueta (base url) en el head debido a que completa la ruta relativa con el href
    //- Aplicando el mismo concepto pero con especificidad de carpetas
    a(href="./4-textos-y-enlaces/subcarpeta/index.html") Subcarpeta
  p
    //- Ruta relativa al dominio y la carpeta en el servidor web
    a(href="/realive.html") Relativo

  p #[a(href=`${publicPath.root}4-textos-y-enlaces/marcadores/#capitulo2`) Ir al capítulo 2 de la página marcadores]
