extends ./templates/base.pug
block config
  - const baseOpenGraphImage1200x1200  = require('../../assets/img/dist/opengraph/opengraph-1200x1200.jpg');
  - const baseOpenGraphImage1200x640  = require('../../assets/img/dist/opengraph/opengraph-1200x640.png');
  - const linkToHumansTXT     = require('../../humans.txt');

block prepend footer
  +schemaWebsite()
  +schemaOrganization()
